body {
    background-color: white;
    margin-top: 5%;
    margin-right: 15%;
    margin-bottom: 10%;
    margin-left: 15%;
    line-height: 1.5;
    padding: 4em 1em;
    font-family: "Lucida Grande", sans-serif;
}

h1 {
    color: black;
    font-size: 5em;
}

h2 {
    color: black;
    margin-top: 1em;
    padding-top: 1em;
}

h3 {
    color: black;
}

ul, li {
    list-style-type: none;
    list-style-position:inside;
    text-align: left;
    margin-top: 10px;
    padding:0; 
}

p {
    color: black;
}

strong {
    color: #333;
}

a {
    text-decoration: none;
    
}

a:hover {
    color: blue;
}

.head {
    margin-bottom: 30px;
}

code,
pre {
  background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
}
