html {
  position: relative;
  min-height: 100%;
  overflow-y:scroll;
}

body {
    margin: 1em auto 2em auto;
    max-width: 50em;
    line-height: 1.5;
    font-family: sans-serif;
    // padding: 0 1em;
    background-color: #FCF9F4;
}

ul, li {
    list-style-type: none;
    list-style-position:inside;
    text-align: left;
    padding:0; 
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  h2 {
    color: green;
  }  

  nav {
    margin-left: auto;
  }

  ul {
    list-style: none;
  }

  li {
    display: inline-block;
    padding: 0 10px;
  }
}

h1, h2, h3, h4 {
  margin-top: 1em;
  margin-bottom: 1em;
}

p {
    line-height: 2;
    font-family: "Georgia";
    color: #555
}

strong {
    color: #333;
}

a {
    text-decoration: none;   
    color: green;
}

a:hover {
    color: darkgreen;
}

.head {
    margin-bottom: 30px;
}

code,
pre {
  background: #282a36;
    ::selection {
    background: #44475a;
  }

}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
  color: #f8f8f2;
}

pre {
  padding: 1em;
  border-radius: 4px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
  margin: auto;
  text-align:center;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    border:2px solid #ff0000;
}

th{
    border:2px solid #000000;
}

td{
    border:1px solid #000000;
}

.row{
  margin-top: 5%;
}

.intro{
  margin-top: 5%;
}

#pagetitle {
  background-color: green;
}

#posttitle {
 text-align: center; 
}

#postdate {
  color: #D3D3D3;
  text-align: center; 
}

#why {
  color: #D3D3D3;
}

// Styling for Web Apps Page

.box-wrapper {
  display: grid;
  margin-top: 5%;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: minmax(200px, 1fr);
  grid-column-gap: 2em;
  grid-row-gap: 5em;
}

.box {
  height: 250px;
  object-fit: cover;
  display: block; 
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  position: relative;
  border-radius: 3px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  text-align: center;
  background-color: #ffffff;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.box::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box:hover {
  -webkit-transform: scale(1.10, 1.10);
  transform: scale(1.10, 1.10);
}

.box:hover::after {
    opacity: 1;
}

.project-generic {
  background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
}

.project-fractal {
  background: linear-gradient(90deg, #FFFF00 0%, #00FF00 100%);
}

.project-space {
  background-image: url("https://images.pexels.com/photos/110854/pexels-photo-110854.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-position: center; 
}

.project-mp {
  background: linear-gradient(90deg, #00FF80 0%, #0000FF 100%);
}

.project-gallery {
  background-image: url("https://images.unsplash.com/photo-1518998053901-5348d3961a04?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80");
  background-position: center; 
}

.project-stars {
  background-image: url("https://i.ytimg.com/vi/qWDmlFsIMHM/maxresdefault.jpg");
  background-position: center;
}

.project-fractal {
  background: linear-gradient(90deg, #FF0000 0%, #FF8000 100%);
}

.project-graphics {
  background: linear-gradient(90deg, #FF8000 0%, #FFFF00 100%);
}