// Form styling
form {
  margin-bottom: $large-spacing;
}

.form-group {
  margin-bottom: $base-spacing;
}

label {
  display: block;
  margin-bottom: $small-spacing;
  font-family: $ui-font;
  font-size: $font-size-sm;
  font-weight: 600;
  color: $text-dark;
}

input,
textarea,
select {
  display: block;
  width: 100%;
  padding: $small-spacing;
  font-family: $ui-font;
  font-size: $font-size-base;
  line-height: 1.5;
  color: $text-dark;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid $medium-gray;
  border-radius: $border-radius;
  transition: $transition-quick;
  
  &:focus {
    color: $text-dark;
    background-color: #fff;
    border-color: lighten($link-color, 25%);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba($link-color, 0.25);
  }
}

textarea {
  resize: vertical;
  min-height: 100px;
}

select {
  padding-right: 2.5rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  appearance: none;
}

.form-text {
  margin-top: $small-spacing;
  font-size: $font-size-sm;
  color: $text-light;
}

.form-check {
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5rem;
  margin-bottom: $small-spacing;
  
  input[type="checkbox"],
  input[type="radio"] {
    width: auto;
    float: left;
    margin-left: -1.5rem;
    margin-top: 0.3rem;
  }
  
  label {
    margin-bottom: 0;
    font-weight: normal;
  }
}

.btn {
  display: inline-block;
  font-family: $ui-font;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  padding: $small-spacing $base-spacing;
  font-size: $font-size-base;
  line-height: 1.5;
  border-radius: $border-radius;
  transition: $transition-quick;
  cursor: pointer;
  border: 1px solid transparent;
  
  &:focus,
  &:hover {
    text-decoration: none;
  }
  
  &:disabled {
    opacity: 0.65;
    cursor: not-allowed;
  }
}

.btn-primary {
  color: #fff;
  background-color: $link-color;
  border-color: $link-color;

  &:hover {
    background-color: darken($link-color, 7.5%);
    border-color: darken($link-color, 10%);
  }
}

.btn-secondary {
  color: $text-dark;
  background-color: $light-gray;
  border-color: $light-gray;
  
  &:hover {
    background-color: $medium-gray;
    border-color: $medium-gray;
  }
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: $font-size-sm;
}

.btn-lg {
  padding: 0.5rem 1rem;
  font-size: $font-size-md;
}