<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
        <title>{{ page.title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
        <!-- Page Views -->
        <script data-goatcounter="https://eja.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
    </head>

    <body>
        
        <!-- Navigation -->
        <header>
        <div class="topname"><h2><a href="/">Elliot Alker</a></h2></div>
        <nav>
                <ul>
                    <li><a href="/about">About</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/projects">Projects</a></li>
                </ul>
        </nav>
        </header>

        <hr />
        
        <main>
        {{ content }}
        </main>

        <hr />

    </body>
</html>
