---
layout: default
---
<h2 class="tag-title">
  Everything tagged with "{{ page.tag }}"
</h2>

<div class="tag-posts-list" id="bloglist">
  <ul>
    {% for post in site.tags[page.tag] %}
      <li>
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <span class="post-date">{{ post.date | date: "%d %B %Y" }}</span>
        
        {% if post.description %}
          <p class="post-excerpt">{{ post.description }}</p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>

<div class="button-area">
  <a href="/tags" class="standard-button back-to-all-tags-button">All Tags</a>
</div>

